/**
 *prime slider license notice 
 * todo: need to this move another file
 */

.prime-slider-notice {
    padding: 0;
    border: 0;
    .notice-dismiss {
        padding: 15px;
    }
}

.bdt-license-notice-global {
    border-left: 4px solid #FC6A2A !important;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 25px;
    border-color: #e2e2e5;
    z-index: 99;
    box-shadow: none;

    .bdt-license-notice-logo img {
        width: 45px;
        height: auto;
        vertical-align: middle;
    }

    .bdt-license-notice-content {
        h3 {
            margin: 0 0 10px;
            font-size: 20px;
        }
        p {
            margin: 0;
            color: #5f6169;
            max-width: 750px;
        }
    } 
    
    .bdt-license-notice-button-wrap {
        margin-top: 14px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .bdt-button {
        padding: 12px 16px;
        border-radius: 3px;
        line-height: 1;
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
    }
    .bdt-button-allow {
        color: #fff;
    }
    .bdt-button-skip {
        border: 0;
        color: #212225;
    }

    /**
     * Start Prime Slider
    */
    
    .bdt-button-allow {
        --primaryColor: #FE506C;
        --secondaryColor: #FC6A2A;
        background: linear-gradient(313deg, var(--primaryColor), var(--secondaryColor) 100%);
    }
    
     .bdt-button-allow:hover {
        --primaryColor: #FC6A2A;
        --secondaryColor: #FE506C;
    }

     .bdt-button-skip {
        background-color: rgba(252, 142, 108, 0.322);
    }
    
     .bdt-button-skip:hover {
        background-color: rgba(252, 142, 108, 0.422);
    }

    
    /**
     * Start Element Pack Pro
     */
    
    // .element_pack_pro .bdt-button-allow {
    // 	--primaryColor: #08AEEC;
    // 	--secondaryColor: #20E2AD;
    // 	background: linear-gradient(313deg, var(--primaryColor), var(--secondaryColor) 100%);
    // }
    
    // .element_pack_pro .bdt-button-allow:hover {
    // 	--primaryColor: #20E2AD;
    // 	;
    // 	--secondaryColor: #08AEEC;
    // }
    
    // .element_pack_pro {
    // 	border-left-color: #46d8bb;
    // }
    
    
    // .element_pack_pro .bdt-button-skip {
    // 	background-color: #e0f5ff;
    // }
    
    // .element_pack_pro .bdt-button-skip:hover {
    // 	background-color: #d9f1fd;
    // }
    
    /**
     * Start Ultimate Post Kit
     */
    
    // .dci_ultimate_post_kit .bdt-button-allow {
    // 	--primaryColor: #60DF54;
    // 	--secondaryColor: #08C972;
    // 	background: linear-gradient(313deg, var(--primaryColor), var(--secondaryColor) 100%);
    // }
    
    // .dci_ultimate_post_kit .bdt-button-allow:hover {
    // 	--primaryColor: #08C972;
    // 	--secondaryColor: #60DF54;
    // }
    
    // .dci_ultimate_post_kit {
    // 	border-left-color: #60DF54;
    // }
    
    
    // .dci_ultimate_post_kit .bdt-button-skip {
    // 	background-color: rgba(86, 220, 88, 0.212);
    // }
    
    // .dci_ultimate_post_kit .bdt-button-skip:hover {
    // 	background-color: rgba(86, 220, 88, 0.348);
    // }
    


}

