@import url(../skins/coral.less);
@import url(../skins/zinest.less);
@import url(../skins/folio.less);

/*===========================================================================
    Slider Css ( Slider Skin Blog )
===========================================================================*/
.bdt-prime-slider-skin-blog {
	position: relative;

	.bdt-prime-slider-desc {
		position: relative;
		// padding: 0 15px;
		margin-top: 45px;
		display: flex;
		align-items: flex-start;

	}
	.bdt-ps-category {
		display: inline-block;
		margin-bottom: 5px;
		a {
			color: #fff;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 500;
		}
	}

	.bdt-ps-meta {
		max-width: 750px;

		.bdt-meta-icon {
			height: 36px;
			width: 36px;
			display: flex;
			border: 1px solid rgba(255, 255, 255, .3);
			border-radius: 60px;
			justify-content: center;
			margin-right: 6px;

			svg {
				width: 12px;
				color: #fff;
			}

			img {
				border-radius: 60px;
			}
		}

		.bdt-meta-text {
			* {
				display: block;
				color: #e5e5e5;
				font-size: 12px;
				opacity: 0.8;
			}
			strong {
				color: #fff;
				opacity: 1;
			}
		}
	}

	.bdt-main-title {
		margin-top: 30px;
		display: inline-block;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 70px;
			height: 5px;
			background: #fff;
			top: -35px;
			border-radius: 10px;
		}

		&:after {
			content: "";
			position: absolute;
			width: 120px;
			height: 1px;
			background: #fff;
			top: -33px;
		}
	}

	.bdt-title-tag {
		font-size: clamp(24px, 5vw, 48px);
		font-weight: 700;
		margin: 0;
		padding-bottom: clamp(15px, 3vw, 40px);

		a {
			color: #fff;
			outline: none;
		}
	}

	.bdt-slider-excerpt {
		position: relative;
		margin-top: 30px;
		color: #fff;
		font-size: 13px;
		z-index: 1;
		margin-left: 40px;
		margin-top: 85px;

		P {
			margin: 0;
		}

	}
	.bdt-slide-counter {
		&:after {
			content: attr(data-label);
			font-size: 80px;
			font-weight: 700;
			color: rgba(255, 255, 255, 0.1);
			transition: all 0.3s ease;
			margin: 0;
			position: absolute;
			top: -40px;
			left: -25px;
		}
	}

	.bdt-ps-blog-btn {
		display: inline-block;
		margin-top: 20px;
	}

	.bdt-slide-btn {
		font-size: clamp(12px, 1vw, 14px);
		font-weight: 700;
		padding: clamp(6px, 1vw, 12px) clamp(12px, 2vw, 30px);
		color: #fff;
		border: 2px solid #fe506c;
		border-radius: 40px;
		transition: all 0.3s ease;
		outline: none;
		text-transform: uppercase;
		position: relative;
		transition: all 0.3s ease;
		overflow: hidden;
		display: inline-block;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 0px;
			background-color: #fe506c;
			z-index: 1;
			transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
		}

		&:hover {
			color: #fff;
			background-color: transparent;
			text-shadow: nthree;

			&::before {
				left: 0;
				right: auto;
				width: 100%;
			}

			.bdt-slide-btn-icon {
				svg {
					transform: scale(1.1) translateX(5px);

					* {
						stroke: #fff;
					}
				}
			}
		}

		.bdt-slide-btn-icon {
			margin-left: clamp(8px, 1vw, 15px);
			display: inline-flex;

			svg {
				color: #fff;
				transition: all 0.3s ease;

				* {
					stroke: #fff;
				}
			}
		}

		.bdt-prime-slider-button-text {
			z-index: 10;
			position: relative;
		}
	}


	.bdt-slideshow-item {
		.bdt-ps-blog-bg {
			width: ~"calc(100% + 50px)";
			height: ~"calc(100% + 50px)";
			pointer-events: none;
			z-index: 0;
			position: fixed;
			overflow: hidden;
			filter: blur(8px);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			&:before {
				content: "";
				width: 100%;
				height: 100%;
				position: fixed;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 1;
			}

			&.bdt-ps-slide-img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				vertical-align: bottom;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}

		.bdt-ps-blog-main-img {
			width: 100%;
			height: 100%;
			pointer-events: none;
			z-index: 0;
			position: absolute;
			left: 20%;
			top: 90px;
			overflow: hidden;
			border-radius: 4px;

			&.bdt-ps-slide-img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				vertical-align: bottom;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}
		.bdt-slide-overlay {
			height: 100vh;
		}
	}

	.bdt-social-icon {
		position: absolute;
		right: 30px;
		z-index: 1;
		bottom: 10px;
		display: none;
		a {
			display: flex;
			font-size: 16px;
			margin: 20px 0;
		}
		i {
			color: #fff;
		}
		svg {
			width: 1em;
			height: 1em;
			fill: #fff;
		}
	}

	.bdt-scroll-down {
		position: absolute;
		left: 20px;
		z-index: 1;
		bottom: 53px;
		cursor: pointer;
		display: none;

		span {
			color: #fff;
			font-size: 10px;
		}

		.bdt-scroll-icon {
			position: relative;

			svg {
				transition: all 0.4s ease-out;
				margin-bottom: 30px;
				width: 50px;

				* {
					fill: #fff;
				}
			}
		}

		&:hover {
			.bdt-scroll-icon {
				svg {
					transform: translateY(130px);
				}
			}
		}

		.bdt-scroll-down-text {
			transform: rotate(90deg);
			display: block;
		}
	}

	.bdt-scroll-down-wrapper {
		button {
			background: transparent;
			padding: 0;
			border: 0;
			outline: none;
		}
	}

	.bdt-ps-blog-container {
		margin: 0 30px;
		width: 100%;
	}

	.bdt-overlay-default {
		background: rgba(0, 0, 0, 0.3);
	}
}


@keyframes shadow-pulse {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
	}

	100% {
		box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
	}
}

/*===========================================================================
    Navigation Css ( Slider Blog )
===========================================================================*/
.bdt-prime-slider-skin-blog {
	.bdt-slideshow-nav {
		top: 90%;
		left: 30px;
		transform: rotate(0deg);
	}

	.bdt-dotnav {
		li {
			position: relative;

			a {
				position: relative;
				width: 22px;
				height: 22px;
				background: transparent;
				transition: all 0.3s ease;

				&:before {
					content: "";
					position: absolute;
					height: 6px;
					width: 6px;
					background: #fff;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					border-radius: 20px;
				}

				&:after {
					content: "";
					position: absolute;
					border: 1px solid transparent;
					height: 100%;
					width: 100%;
					left: 0;
					border-radius: 40px;
					transform: scale(0);
					transition: all 0.3s ease-out;
				}
			}

			&.bdt-active a {
				border-width: 1px;
				border-style: solid;
				border-color: #fe506c;
				background: transparent;

				&:before {
					background-color: #fe506c;
					margin-right: 10px;
					height: 5px;
					width: 5px;
				}

				&:after {
					border-color: #fe506c;
					transform: scale(1);
					animation: pulse 1.5s linear infinite;
				}
			}
		}
	}

	@keyframes pulse {
		0% {
			transform: scale(0);
			opacity: 0;
		}

		33% {
			transform: scale(1);
			opacity: 1;
		}

		100% {
			transform: scale(3);
			opacity: 0;
		}
	}
}

.bdt-prime-slider-skin-blog {
	.bdt-slidenav {
		padding-top: 20px;
	}

	.bdt-navigation-arrows {
		bottom: 30px;
		display: none;
	}

	.bdt-prime-slider-next {
		&:hover svg {
			transform: scale(1.2) rotate(90deg);
		}
	}

	.bdt-prime-slider-previous {
		margin-right: 10px;

		&:hover svg {
			transform: scale(1.2) rotate(90deg);
		}
	}

	.bdt-prime-slider-next,
	.bdt-prime-slider-previous {
		padding: 0;
		border-radius: 80px;
		border: 2px solid #fe506c;
		height: 48px;
		width: 48px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;

		svg {
			color: #fff;
			width: 8px;
			transition: transform 0.3s ease-out;
		}
	}
}

.bdt-prime-slider-skin-blog,
.bdt-prime-slider-skin-coral,
.bdt-prime-slider-skin-zinest {
	.bdt-slidenav {
		position: relative;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 0;
			background-color: #fe506c;
			transition: all .4s cubic-bezier(.42, 0, .58, 1) 0s;
		}

		&:hover {
			svg {
				color: #fff;
			}

			&::before {
				left: 0;
				right: auto;
				width: 100%;
			}
		}
	}

	.bdt-ps-meta {
		.bdt-meta-text {
			* {
				opacity: 0.8;
			}
			strong {
				color: #fff;
				opacity: 1;
			}
		}
	}
}

/*===========================================================================
    Responsive Css ( Slider Blog )
===========================================================================*/
@media (min-width: 640px) {
	.bdt-prime-slider-skin-blog {
		.bdt-ps-blog-container {
			margin: 0 80px;
		}

		.bdt-prime-slider-desc {
			padding-bottom: 0;
			margin-top: 0;

		}
		.bdt-ps-meta {
			padding-bottom: 30px;

			.bdt-meta-icon {
				height: 42px;
				width: 42px;
				margin-right: 10px;
			}

			.bdt-meta-text {
				* {
					font-size: 13px;
				}
			}
		}

		.bdt-main-title {
			margin-top: 50px;

			&:before {
				width: 130px;
				height: 7px;
			}

			&:after {
				width: 220px;
				top: -32px;
			}
		}

		.bdt-slider-excerpt {
			// margin-top: 0px;
			font-size: 14px;

			.bdt-slide-counter {
				&:after {
					font-size: 140px;
					top: -65px;
				}
			}
		}

		.bdt-slideshow-item.bdt-flex-column,
		.bdt-flex-column.bdt-navigation-arrows {
			flex-direction: inherit;
		}

		.bdt-slide-play-button {
			top: 50%;

			a {
				padding: 20px;
			}
		}

		.bdt-scroll-down,
		.bdt-social-icon {
			display: inherit;
		}

		.bdt-navigation-arrows {
			display: inherit;
			left: 80px;
		}

		.bdt-slideshow-nav {
			top: 193px;
			right: -11px;
			left: auto;
			transform: rotate(90deg);
		}

		.bdt-slideshow-item {
			.bdt-ps-blog-main-img {
				top: 110px;
			}
		}
	}
}

@media (min-width: 1024px) {
	.bdt-prime-slider-skin-blog {
		.bdt-ps-blog-container {
			margin: 0 180px;
		}

		.bdt-navigation-arrows {
			left: 180px;
		}

		.bdt-slide-play-button {
			a {
				padding: 30px;
			}
		}

		.bdt-ps-blog-btn {
			margin-bottom: 90px;
		}

		.bdt-slide-counter {
			&:after {
				top: -80px;
			}
		}
	}
}

@media (min-width: 1200px) {
	.bdt-prime-slider-skin-blog {

		.bdt-scroll-down {
			left: 80px;
		}

		.bdt-social-icon {
			right: 100px;
		}

		.bdt-slideshow-nav {
			right: 58px;
			transform: rotate(90deg);
		}

		.bdt-social-icon {
			bottom: 70px;
		}

		.bdt-navigation-arrows {
			bottom: 90px;
		}

		.bdt-scroll-down {
			bottom: 110px;
		}
	}
}
