@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff2?b88p2o') format('woff2'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?b88p2o') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?b88p2o') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?b88p2o#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ps-wi-"], [class*=" ps-wi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ps-wi-reveal-effects {
  &:before {
    content: @ps-wi-reveal-effects; 
  }
}
.ps-wi-arrow-right {
  &:before {
    content: @ps-wi-arrow-right; 
  }
}
.ps-wi-arrow-left {
  &:before {
    content: @ps-wi-arrow-left; 
  }
}
.ps-wi-map-pin {
  &:before {
    content: @ps-wi-map-pin; 
  }
}
.ps-wi-chevron-left {
  &:before {
    content: @ps-wi-chevron-left; 
  }
}
.ps-wi-chevron-right {
  &:before {
    content: @ps-wi-chevron-right; 
  }
}
.ps-wi-link {
  &:before {
    content: @ps-wi-link; 
  }
}
.ps-wi-user-circle-o {
  &:before {
    content: @ps-wi-user-circle-o; 
  }
}
.ps-wi-clock-o {
  &:before {
    content: @ps-wi-clock-o; 
  }
}
.ps-wi-calendar {
  &:before {
    content: @ps-wi-calendar; 
  }
}
.ps-wi-close {
  &:before {
    content: @ps-wi-close; 
  }
}
.ps-wi-cart-line {
  &:before {
    content: @ps-wi-cart-line; 
  }
}
.ps-wi-cart-solid {
  &:before {
    content: @ps-wi-cart-solid; 
  }
}
.ps-wi-plus {
  &:before {
    content: @ps-wi-plus; 
  }
}
.ps-wi-live-copy {
  &:before {
    content: @ps-wi-live-copy; 
  }
}
.ps-wi-duplicator {
  &:before {
    content: @ps-wi-duplicator; 
  }
}
.ps-wi-tutorial {
  &:before {
    content: @ps-wi-tutorial; 
  }
}
.ps-wi-preview {
  &:before {
    content: @ps-wi-preview; 
  }
}
.ps-wi-arrow-left-0 {
  &:before {
    content: @ps-wi-arrow-left-0; 
  }
}
.ps-wi-arrow-right-0 {
  &:before {
    content: @ps-wi-arrow-right-0; 
  }
}
.ps-wi-arrow-left-1 {
  &:before {
    content: @ps-wi-arrow-left-1; 
  }
}
.ps-wi-arrow-right-1 {
  &:before {
    content: @ps-wi-arrow-right-1; 
  }
}
.ps-wi-arrow-left-2 {
  &:before {
    content: @ps-wi-arrow-left-2; 
  }
}
.ps-wi-arrow-right-2 {
  &:before {
    content: @ps-wi-arrow-right-2; 
  }
}
.ps-wi-arrow-left-3 {
  &:before {
    content: @ps-wi-arrow-left-3; 
  }
}
.ps-wi-arrow-right-3 {
  &:before {
    content: @ps-wi-arrow-right-3; 
  }
}
.ps-wi-arrow-left-4 {
  &:before {
    content: @ps-wi-arrow-left-4; 
  }
}
.ps-wi-arrow-right-4 {
  &:before {
    content: @ps-wi-arrow-right-4; 
  }
}
.ps-wi-arrow-left-5 {
  &:before {
    content: @ps-wi-arrow-left-5; 
  }
}
.ps-wi-arrow-right-5 {
  &:before {
    content: @ps-wi-arrow-right-5; 
  }
}
.ps-wi-arrow-left-6 {
  &:before {
    content: @ps-wi-arrow-left-6; 
  }
}
.ps-wi-arrow-right-6 {
  &:before {
    content: @ps-wi-arrow-right-6; 
  }
}
.ps-wi-arrow-left-7 {
  &:before {
    content: @ps-wi-arrow-left-7; 
  }
}
.ps-wi-arrow-right-7 {
  &:before {
    content: @ps-wi-arrow-right-7; 
  }
}
.ps-wi-arrow-left-8 {
  &:before {
    content: @ps-wi-arrow-left-8; 
  }
}
.ps-wi-arrow-right-8 {
  &:before {
    content: @ps-wi-arrow-right-8; 
  }
}
.ps-wi-arrow-left-9 {
  &:before {
    content: @ps-wi-arrow-left-9; 
  }
}
.ps-wi-arrow-right-9 {
  &:before {
    content: @ps-wi-arrow-right-9; 
  }
}
.ps-wi-arrow-left-10 {
  &:before {
    content: @ps-wi-arrow-left-10; 
  }
}
.ps-wi-arrow-right-10 {
  &:before {
    content: @ps-wi-arrow-right-10; 
  }
}
.ps-wi-arrow-left-11 {
  &:before {
    content: @ps-wi-arrow-left-11; 
  }
}
.ps-wi-arrow-right-11 {
  &:before {
    content: @ps-wi-arrow-right-11; 
  }
}
.ps-wi-arrow-left-12 {
  &:before {
    content: @ps-wi-arrow-left-12; 
  }
}
.ps-wi-arrow-right-12 {
  &:before {
    content: @ps-wi-arrow-right-12; 
  }
}
.ps-wi-arrow-left-13 {
  &:before {
    content: @ps-wi-arrow-left-13; 
  }
}
.ps-wi-arrow-right-13 {
  &:before {
    content: @ps-wi-arrow-right-13; 
  }
}
.ps-wi-arrow-left-14 {
  &:before {
    content: @ps-wi-arrow-left-14; 
  }
}
.ps-wi-arrow-right-14 {
  &:before {
    content: @ps-wi-arrow-right-14; 
  }
}
.ps-wi-arrow-left-15 {
  &:before {
    content: @ps-wi-arrow-left-15; 
  }
}
.ps-wi-arrow-right-15 {
  &:before {
    content: @ps-wi-arrow-right-15; 
  }
}
.ps-wi-arrow-left-16 {
  &:before {
    content: @ps-wi-arrow-left-16; 
  }
}
.ps-wi-arrow-right-16 {
  &:before {
    content: @ps-wi-arrow-right-16; 
  }
}
.ps-wi-arrow-left-17 {
  &:before {
    content: @ps-wi-arrow-left-17; 
  }
}
.ps-wi-arrow-right-17 {
  &:before {
    content: @ps-wi-arrow-right-17; 
  }
}
.ps-wi-arrow-left-18 {
  &:before {
    content: @ps-wi-arrow-left-18; 
  }
}
.ps-wi-arrow-right-18 {
  &:before {
    content: @ps-wi-arrow-right-18; 
  }
}
.ps-wi-arrow-up-1 {
  &:before {
    content: @ps-wi-arrow-up-1; 
  }
}
.ps-wi-arrow-down-1 {
  &:before {
    content: @ps-wi-arrow-down-1; 
  }
}
.ps-wi-arrow-up-2 {
  &:before {
    content: @ps-wi-arrow-up-2; 
  }
}
.ps-wi-arrow-down-2 {
  &:before {
    content: @ps-wi-arrow-down-2; 
  }
}
.ps-wi-arrow-up-3 {
  &:before {
    content: @ps-wi-arrow-up-3; 
  }
}
.ps-wi-arrow-down-3 {
  &:before {
    content: @ps-wi-arrow-down-3; 
  }
}
.ps-wi-arrow-up-4 {
  &:before {
    content: @ps-wi-arrow-up-4; 
  }
}
.ps-wi-arrow-down-4 {
  &:before {
    content: @ps-wi-arrow-down-4; 
  }
}
.ps-wi-arrow-up-5 {
  &:before {
    content: @ps-wi-arrow-up-5; 
  }
}
.ps-wi-arrow-down-5 {
  &:before {
    content: @ps-wi-arrow-down-5; 
  }
}
.ps-wi-arrow-up-7 {
  &:before {
    content: @ps-wi-arrow-up-7; 
  }
}
.ps-wi-arrow-down-7 {
  &:before {
    content: @ps-wi-arrow-down-7; 
  }
}
.ps-wi-arrow-up-8 {
  &:before {
    content: @ps-wi-arrow-up-8; 
  }
}
.ps-wi-arrow-down-8 {
  &:before {
    content: @ps-wi-arrow-down-8; 
  }
}
.ps-wi-arrow-left-circle-1 {
  &:before {
    content: @ps-wi-arrow-left-circle-1; 
  }
}
.ps-wi-arrow-right-circle-1 {
  &:before {
    content: @ps-wi-arrow-right-circle-1; 
  }
}
.ps-wi-arrow-left-circle-2 {
  &:before {
    content: @ps-wi-arrow-left-circle-2; 
  }
}
.ps-wi-arrow-right-circle-2 {
  &:before {
    content: @ps-wi-arrow-right-circle-2; 
  }
}
.ps-wi-arrow-left-circle-3 {
  &:before {
    content: @ps-wi-arrow-left-circle-3; 
  }
}
.ps-wi-arrow-right-circle-3 {
  &:before {
    content: @ps-wi-arrow-right-circle-3; 
  }
}
.ps-wi-arrow-left-circle-4 {
  &:before {
    content: @ps-wi-arrow-left-circle-4; 
  }
}
.ps-wi-arrow-right-circle-4 {
  &:before {
    content: @ps-wi-arrow-right-circle-4; 
  }
}
.ps-wi-arrow-left-square-1 {
  &:before {
    content: @ps-wi-arrow-left-square-1; 
  }
}
.ps-wi-arrow-right-square-1 {
  &:before {
    content: @ps-wi-arrow-right-square-1; 
  }
}
.ps-wi-omatic {
  &:before {
    content: @ps-wi-omatic; 
  }
}
.ps-wi-material {
  &:before {
    content: @ps-wi-material; 
  }
}
.ps-wi-titanic {
  &:before {
    content: @ps-wi-titanic; 
  }
}
.ps-wi-woohotspot {
  &:before {
    content: @ps-wi-woohotspot; 
  }
}
.ps-wi-escape {
  &:before {
    content: @ps-wi-escape; 
  }
}
.ps-wi-fortune {
  &:before {
    content: @ps-wi-fortune; 
  }
}
.ps-wi-coddle {
  &:before {
    content: @ps-wi-coddle; 
  }
}
.ps-wi-avatar {
  &:before {
    content: @ps-wi-avatar; 
  }
}
.ps-wi-sniper {
  &:before {
    content: @ps-wi-sniper; 
  }
}
.ps-wi-tango {
  &:before {
    content: @ps-wi-tango; 
  }
}
.ps-wi-remote-fraction {
  &:before {
    content: @ps-wi-remote-fraction; 
  }
}
.ps-wi-remote-thumbs {
  &:before {
    content: @ps-wi-remote-thumbs; 
  }
}
.ps-wi-remote-pagination {
  &:before {
    content: @ps-wi-remote-pagination; 
  }
}
.ps-wi-remote-arrows {
  &:before {
    content: @ps-wi-remote-arrows; 
  }
}
.ps-wi-prism {
  &:before {
    content: @ps-wi-prism; 
  }
}
.ps-wi-elysium {
  &:before {
    content: @ps-wi-elysium; 
  }
}
.ps-wi-pieces {
  &:before {
    content: @ps-wi-pieces; 
  }
}
.ps-wi-rasher {
  &:before {
    content: @ps-wi-rasher; 
  }
}
.ps-wi-foxico-slider {
  &:before {
    content: @ps-wi-foxico-slider; 
  }
}
.ps-wi-woocircle {
  &:before {
    content: @ps-wi-woocircle; 
  }
}
.ps-wi-diagonal {
  &:before {
    content: @ps-wi-diagonal; 
  }
}
.ps-wi-reveal {
  &:before {
    content: @ps-wi-reveal; 
  }
}
.ps-wi-pacific {
  &:before {
    content: @ps-wi-pacific; 
  }
}
.ps-wi-mash {
  &:before {
    content: @ps-wi-mash; 
  }
}
.ps-wi-nixon {
  &:before {
    content: @ps-wi-nixon; 
  }
}
.ps-wi-paranoia {
  &:before {
    content: @ps-wi-paranoia; 
  }
}
.ps-wi-crossroad {
  &:before {
    content: @ps-wi-crossroad; 
  }
}
.ps-wi-rubix {
  &:before {
    content: @ps-wi-rubix; 
  }
}
.ps-wi-matrix {
  &:before {
    content: @ps-wi-matrix; 
  }
}
.ps-wi-astoria {
  &:before {
    content: @ps-wi-astoria; 
  }
}
.ps-wi-vertex {
  &:before {
    content: @ps-wi-vertex; 
  }
}
.ps-wi-mercury {
  &:before {
    content: @ps-wi-mercury; 
  }
}
.ps-wi-marble {
  &:before {
    content: @ps-wi-marble; 
  }
}
.ps-wi-fiestar {
  &:before {
    content: @ps-wi-fiestar; 
  }
}
.ps-wi-wooexpand {
  &:before {
    content: @ps-wi-wooexpand; 
  }
}
.ps-wi-knily1 {
  &:before {
    content: @ps-wi-knily1; 
  }
}
.ps-wi-storker1 {
  &:before {
    content: @ps-wi-storker1; 
  }
}
.ps-wi-knily {
  &:before {
    content: @ps-wi-knily; 
  }
}
.ps-wi-storker {
  &:before {
    content: @ps-wi-storker; 
  }
}
.ps-wi-prime-slider {
  &:before {
    content: @ps-wi-prime-slider; 
  }
}
.ps-wi-woolamp {
  &:before {
    content: @ps-wi-woolamp; 
  }
}
.ps-wi-mount {
  &:before {
    content: @ps-wi-mount; 
  }
}
.ps-wi-flexure {
  &:before {
    content: @ps-wi-flexure; 
  }
}
.ps-wi-monster {
  &:before {
    content: @ps-wi-monster; 
  }
}
.ps-wi-sequester {
  &:before {
    content: @ps-wi-sequester; 
  }
}
.ps-wi-pagepiling {
  &:before {
    content: @ps-wi-pagepiling; 
  }
}
.ps-wi-dragon {
  &:before {
    content: @ps-wi-dragon; 
  }
}
.ps-wi-fluent {
  &:before {
    content: @ps-wi-fluent; 
  }
}
.ps-wi-event-calendar {
  &:before {
    content: @ps-wi-event-calendar; 
  }
}
.ps-wi-multiscroll {
  &:before {
    content: @ps-wi-multiscroll; 
  }
}
.ps-wi-woostand {
  &:before {
    content: @ps-wi-woostand; 
  }
}
.ps-wi-flogia {
  &:before {
    content: @ps-wi-flogia; 
  }
}
.ps-wi-custom {
  &:before {
    content: @ps-wi-custom; 
  }
}
.ps-wi-isolate {
  &:before {
    content: @ps-wi-isolate; 
  }
}
.ps-wi-isolate_skin_locate {
  &:before {
    content: @ps-wi-isolate_skin_locate; 
  }
}
.ps-wi-isolate_skin_slice {
  &:before {
    content: @ps-wi-isolate_skin_slice; 
  }
}
.ps-wi-woocommerce {
  &:before {
    content: @ps-wi-woocommerce; 
  }
}
.ps-wi-blog {
  &:before {
    content: @ps-wi-blog; 
  }
}
.ps-wi-blog_skin_coral {
  &:before {
    content: @ps-wi-blog_skin_coral; 
  }
}
.ps-wi-blog_skin_folio {
  &:before {
    content: @ps-wi-blog_skin_folio; 
  }
}
.ps-wi-blog_skin_zinest {
  &:before {
    content: @ps-wi-blog_skin_zinest; 
  }
}
.ps-wi-general {
  &:before {
    content: @ps-wi-general; 
  }
}
.ps-wi-general_skin_crelly {
  &:before {
    content: @ps-wi-general_skin_crelly; 
  }
}
.ps-wi-general_skin_meteor {
  &:before {
    content: @ps-wi-general_skin_meteor; 
  }
}
.ps-wi-general_skin_slide {
  &:before {
    content: @ps-wi-general_skin_slide; 
  }
}

