@icomoon-font-family: "prime-slider-font";
@icomoon-font-path: "fonts";

@ps-wi-adaptive-bg: "\e992";
@ps-wi-reveal-effects: "\e98c";
@ps-wi-arrow-right: "\e97e";
@ps-wi-arrow-left: "\e97f";
@ps-wi-map-pin: "\e980";
@ps-wi-chevron-left: "\e981";
@ps-wi-chevron-right: "\e982";
@ps-wi-link: "\e983";
@ps-wi-user-circle-o: "\e984";
@ps-wi-clock-o: "\e985";
@ps-wi-calendar: "\e986";
@ps-wi-close: "\e987";
@ps-wi-cart-line: "\e988";
@ps-wi-cart-solid: "\e989";
@ps-wi-plus: "\e98a";
@ps-wi-live-copy: "\e977";
@ps-wi-duplicator: "\e978";
@ps-wi-tutorial: "\e98d";
@ps-wi-preview: "\e98e";
@ps-wi-arrow-left-0: "\e96b";
@ps-wi-arrow-right-0: "\e96c";
@ps-wi-arrow-left-1: "\e919";
@ps-wi-arrow-right-1: "\e925";
@ps-wi-arrow-left-2: "\e91a";
@ps-wi-arrow-right-2: "\e926";
@ps-wi-arrow-left-3: "\e91b";
@ps-wi-arrow-right-3: "\e927";
@ps-wi-arrow-left-4: "\e91c";
@ps-wi-arrow-right-4: "\e928";
@ps-wi-arrow-left-5: "\e943";
@ps-wi-arrow-right-5: "\e944";
@ps-wi-arrow-left-6: "\e945";
@ps-wi-arrow-right-6: "\e946";
@ps-wi-arrow-left-7: "\e949";
@ps-wi-arrow-right-7: "\e94a";
@ps-wi-arrow-left-8: "\e91e";
@ps-wi-arrow-right-8: "\e92c";
@ps-wi-arrow-left-9: "\e91f";
@ps-wi-arrow-right-9: "\e92d";
@ps-wi-arrow-left-10: "\e920";
@ps-wi-arrow-right-10: "\e92e";
@ps-wi-arrow-left-11: "\e921";
@ps-wi-arrow-right-11: "\e92f";
@ps-wi-arrow-left-12: "\e94b";
@ps-wi-arrow-right-12: "\e94c";
@ps-wi-arrow-left-13: "\e922";
@ps-wi-arrow-right-13: "\e930";
@ps-wi-arrow-left-14: "\e91d";
@ps-wi-arrow-right-14: "\e92b";
@ps-wi-arrow-left-15: "\e923";
@ps-wi-arrow-right-15: "\e931";
@ps-wi-arrow-left-16: "\e924";
@ps-wi-arrow-right-16: "\e932";
@ps-wi-arrow-left-17: "\e929";
@ps-wi-arrow-right-17: "\e92a";
@ps-wi-arrow-left-18: "\e933";
@ps-wi-arrow-right-18: "\e934";
@ps-wi-arrow-up-1: "\e935";
@ps-wi-arrow-down-1: "\e936";
@ps-wi-arrow-up-2: "\e937";
@ps-wi-arrow-down-2: "\e938";
@ps-wi-arrow-up-3: "\e939";
@ps-wi-arrow-down-3: "\e93a";
@ps-wi-arrow-up-4: "\e93b";
@ps-wi-arrow-down-4: "\e93c";
@ps-wi-arrow-up-5: "\e93d";
@ps-wi-arrow-down-5: "\e93e";
@ps-wi-arrow-up-7: "\e93f";
@ps-wi-arrow-down-7: "\e940";
@ps-wi-arrow-up-8: "\e941";
@ps-wi-arrow-down-8: "\e947";
@ps-wi-arrow-left-circle-1: "\e942";
@ps-wi-arrow-right-circle-1: "\e948";
@ps-wi-arrow-left-circle-2: "\e94d";
@ps-wi-arrow-right-circle-2: "\e94e";
@ps-wi-arrow-left-circle-3: "\e94f";
@ps-wi-arrow-right-circle-3: "\e950";
@ps-wi-arrow-left-circle-4: "\e951";
@ps-wi-arrow-right-circle-4: "\e952";
@ps-wi-arrow-left-square-1: "\e953";
@ps-wi-arrow-right-square-1: "\e954";
@ps-wi-turnar: "\e993";
@ps-wi-pandora: "\e991";
@ps-wi-omatic: "\e990";
@ps-wi-material: "\e98f";
@ps-wi-titanic: "\e98b";
@ps-wi-woohotspot: "\e97b";
@ps-wi-escape: "\e97c";
@ps-wi-fortune: "\e97d";
@ps-wi-coddle: "\e97a";
@ps-wi-avatar: "\e979";
@ps-wi-sniper: "\e974";
@ps-wi-tango: "\e975";
@ps-wi-remote-fraction: "\e96f";
@ps-wi-remote-thumbs: "\e970";
@ps-wi-remote-pagination: "\e971";
@ps-wi-remote-arrows: "\e973";
@ps-wi-prism: "\e96e";
@ps-wi-elysium: "\e976";
@ps-wi-pieces: "\e96d";
@ps-wi-rasher: "\e972";
@ps-wi-foxico-slider: "\e968";
@ps-wi-woocircle: "\e969";
@ps-wi-diagonal: "\e96a";
@ps-wi-reveal: "\e967";
@ps-wi-pacific: "\e963";
@ps-wi-mash: "\e964";
@ps-wi-nixon: "\e965";
@ps-wi-paranoia: "\e966";
@ps-wi-crossroad: "\e960";
@ps-wi-rubix: "\e961";
@ps-wi-matrix: "\e962";
@ps-wi-astoria: "\e95f";
@ps-wi-vertex: "\e95e";
@ps-wi-mercury: "\e956";
@ps-wi-marble: "\e957";
@ps-wi-fiestar: "\e958";
@ps-wi-wooexpand: "\e959";
@ps-wi-knily1: "\e95a";
@ps-wi-storker1: "\e95b";
@ps-wi-knily: "\e95c";
@ps-wi-storker: "\e95d";
@ps-wi-prime-slider: "\e915";
@ps-wi-woolamp: "\e955";
@ps-wi-mount: "\e916";
@ps-wi-flexure: "\e917";
@ps-wi-monster: "\e918";
@ps-wi-sequester: "\e914";
@ps-wi-pagepiling: "\e913";
@ps-wi-dragon: "\e912";
@ps-wi-fluent: "\e911";
@ps-wi-event-calendar: "\e910";
@ps-wi-multiscroll: "\e90f";
@ps-wi-woostand: "\e90d";
@ps-wi-flogia: "\e90c";
@ps-wi-custom: "\e90b";
@ps-wi-isolate: "\e908";
@ps-wi-isolate_skin_locate: "\e909";
@ps-wi-isolate_skin_slice: "\e90a";
@ps-wi-woocommerce: "\e90e";
@ps-wi-blog: "\e900";
@ps-wi-blog_skin_coral: "\e901";
@ps-wi-blog_skin_folio: "\e902";
@ps-wi-blog_skin_zinest: "\e903";
@ps-wi-general: "\e904";
@ps-wi-general_skin_crelly: "\e905";
@ps-wi-general_skin_meteor: "\e906";
@ps-wi-general_skin_slide: "\e907";

